[tool.poetry]
name = "virtool-core"
version = "0.1.0"
description = "Core utilities for Virtool."
authors = ["Ian Boyes", "Blake Smith"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/virtool/virtool-core"
classifiers = [
    "Topic :: Software Development :: Libraries",
    "Programming Language:: Python:: 3.8",
]
packages = [
    { include = "virtool_core" },
]

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "0.4.0"
arrow = "0.15.5"
dictdiffer = "0.8.1"
motor = "2.4.0"
psutil = "^5.8.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-aiohttp = "^0.3.0"
pytest-asyncio = "^0.15.1"
pytest-forked = "^1.3.0"
pytest-mock = "^3.6.1"
pytest-xdist = "^2.2.1"
pytest-sugar = "^0.9.4"
pytest-picked = "^0.4.6"
pytest-cov = "^2.11.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
