aiofiles==0.4.0
arrow==0.15.5
attrs==19.3.0
biopython==1.76
coverage==5.0.4
dictdiffer==0.8.1
motor==2.1.0
numpy==1.18.2
psutil==5.7.0
pymongo==3.10.1
pytest==5.4.2
pytest-aiohttp==0.3.0
pytest-asyncio==0.12.0
pytest-cov==2.8.1
pytest-forked==1.1.3
pytest-mock==3.1.0
pytest-xdist==1.32.0
snapshottest==0.5.1








