# Run test suite using tox.
name: Tests
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "main"
jobs:
  test:
    runs-on: ubuntu-20.04
    container:
      image: python:3.8-buster
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install tox
        run: pip install tox tox-poetry poetry
      - name: Run tox
        run: tox
      - name: Upload Coverage Report As Artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: coverage.xml
  release:
    runs-on: ubuntu-20.04
    if: github.event_name == 'push'
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install semantic-release
        run: npm i semantic-release@v18.0.0 conventional-changelog-conventionalcommits@4.6.1
      - name: Release
        env:
          GITHUB_USERNAME: ${{ secrets.GH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
